<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Lemonation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/addJugador">Manipular Jugadores</a>
        </li>
      </ul>
      <button class="nav-item nav-link btn btn-primary" routerLink="/register">Registrarse</button>
      <button class="nav-item nav-link btn btn-success" routerLink="/login">Loguearse</button>
      <button class="nav-item nav-link btn btn-danger" (click)="cerrarSesion()">Log Out</button>

    </div>
  </nav>
